/* #1bb45e
"League Spartan"
*/


#First_part {
	font-family: "League Spartan", sans-serif;
	font-size: 16px;
	padding-left: 12%;
	padding-right: 12%; 
}



#list1 {
	list-style: none;
	display: flex;
	justify-content: space-between;

	

}

li.item {
	
	color: #1bb45e;
	font-weight: 900;
	padding: 0.88em 0.56em;
	font-size: 20px;
	
}

li.btn {
	
	font-weight: 900;
	background-color: #1bb45e;
	color: white;
	font-size: 20px;
	border-radius: 1.82em;
	padding: 0.88em 1.36em;
    
	
}


/* {
	border: 1px solid black;
}*/

li.brand {
	margin-left: -40px;
	padding-top: 0.56em;
	left: 0;
}

#list_items {
	display: flex;
}

ul#list1 > div > li.item > a:link {
	text-decoration: none;
	color: #1bb45e;

}

ul#list1 > div > li.btn > a:link {
	text-decoration: none;
	color: white;

}


ul#list1 > div > li.item > a:visited {
	text-decoration: none;
	color: #1bb45e;
}

ul#list1 > div > li.item:hover {
	background-color: grey;
}

ul#list1 > div > li.item:hover a {
	color: white;
}


h1 {
	 
	text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
}

.video-js {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: -30px;
}

ul:not(#exception) {
	list-style-type: none;
}

#list2 {
	display: flex;
	justify-content: space-around;
	
}

.list3 {
	border: 2px solid #cccac7;
	width: calc(100%/3);
	text-align: center;
	padding: 10px;
	font-weight: 900;
	font-size: 20px;
	color: #1bb45e;
}


.hnav > ul > li > a:link {
	text-decoration: none;
	color: #1bb45e;

}


.list3:hover {
	background-color: grey;
}


.hnav > ul > li:hover a {
	color: white;
}

.content-container narrow-centered {
	width: 60% !important;
}

h2 {
	font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	font-size: 3.425rem;
	font-weight: 900;

}

.try-now-btn {
	font-weight: 900;
	background-color: #1bb45e;
	color: white;
	font-size: 20px;
	border-radius: 1.82em;
	padding: 0.88em 1.36em;
	text-decoration: none;

}

.centered {
	text-align: center;
}

a {
	text-decoration: none;
}

#central-text {
	width: 60%;
	margin: auto;
}

.h4 {
	font-size: 1.125rem;
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    line-height: 0.35em;
}

.content {
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    line-height: 1.75em;
}

h3 {
	font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: justify;
}

#paragraph {
    font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    line-height: 1.75em;
    font-size: 1.125rem;
}

#email {
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

#email_box {
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    background-color: white;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

#subscribe {
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1eb45d;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 0.4em 0.6em;
    font-size: 1rem;
}

#fnav {
	font-family: 'Montserrat-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	font-weight: 550;
	justify-content: space-around;
	font-size: 0.95rem;
	padding-left: 12%;
	padding-right: 12%; 
}

ul#fnav > li > a:link {
	text-decoration: none;
	color: #5a5a5a;

}

.copyright {
	font-size: 0.75rem;
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
    color: #747474;
    text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

